body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #303030;
    transition: background-color 0.5s ease-in-out;  /* згладжування переходу, яка робить перехід плавнішим */
}

/* медіа-запити для мобільних пристроїв */
@media screen and (max-width: 768px) {
    /* Адаптація Header */
    nav .container {
        flex-direction: column;
        align-items: center;
    }

    .block-center,
    .block-right {
        margin-top: 10px;
        text-align: center;
    }

    .select,
    .block-center,
    .block-right {
        width: 100%;
    }

    .btn_center {
        width: 100%;
        margin: 10px 0;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
    }

    /* Адаптація Footer */
    footer .container-f {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer-block {
        text-align: center;
        margin-bottom: 20px;
    }

    .block-left {
        margin-bottom: 20px;
    }
}
/* //////////////// */

/* стилі для мобільних пристроїв в нижньому навігаторі */
@media screen and (max-width: 768px) {
    .container-d {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block-left,
    .block-center-d,
    .block-right-d {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
    }

    .search-input {
        width: 80%; /* Задайте ширину, яка підходить для вашого дизайну */
    }

    .block-right-d {
        margin-top: 10px;
    }
}
/* //////////////// */
.night-mode {
    background-color: #111111;
}

.day-mode {
    background-color: #303030;
}

/*  /////////  верхній навігатор  /////////  */
.container {
    display: flex; /* Встановлення flex контейнера */
    justify-content: space-between; /* Розташування блоків в ряду з рівномірним простором між ними */
    background: #101010!important; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 0;
}

 .container_rent {
    max-width: 1200px; 
    margin: 0 auto;
} 

.logo-img {
    width: 310px; 
    height: 80px; 
}

.select {                /* для елементів .select, яка дозволяє виводити свої дочірні елементи в рядок */
    display: flex;
    align-items: center;
}

.lang-emoji {
    margin-right: 10px;  /* відступ між елементами */
}

.select-ico {
    width: 15px; 
    height: 15px; 
}     

.block-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_center {
    margin: 0 5px;
    padding: 7px 20px;
    border: 2px solid gold;
    border-radius: 20px;
    background-color: transparent;  
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.block-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-language {
    cursor: pointer;
}

.languages-options-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000; 
    display: none;
}

.option-item {
    padding: 10px;
    color: white; 
    cursor: pointer;
}

.max-width {
    max-width: 100%;
}

a {
color: #fff;
text-decoration: none;
cursor: pointer
}

/* медіа-запити для мобільних пристроїв */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .select {
        flex-direction: column;
        align-items: center;
    }

    .logo-img {
        width: 250px;
        height: auto;
    }
}

.p-2 {
padding: 8px
}

.p1 {
padding: 2px  
}

.mt-2, .my-2 {
margin-top: 8px;
}

.pr-3 {
padding-right: 6px;
}

.pr-5 {
padding-right: 10px;
}

.pr-15 {
padding-right: 30px;
}

.py-4 {
padding-top: 4px;
padding-bottom: 4px;
}

.pl-4 {
padding-left: 10px;
}

.mr-1 {
margin-right: 3px;
}

.mr-4 {
margin-right: 12px;
}

.mr-5 {
margin-right: 15px;
}

.mr-10 {
margin-right: 80px;
}
.mr-12 {
margin-right: 90px;    
}

.ml-12 {
margin-left: 90px;
}

.ml-1 {
margin-left: 3px;
}

.ml-4 {
margin-left: 12px;
}

.ml-10 {
margin-left: 80px;
}

.mt-1 {
margin-top: 3px;
}

.ht {
height: 40px;
}

.ht-3 {
height: 30px;
}

.ht-2 {
height: 20px;
}

.color-grey-light {
border: 2px solid #808080;
}

.border-radius-4 {
border-radius: 16px;
}

.w-100 img{
width: 100%;    
}

.height-3 img {
height: 90px;
}

.text-color {
color: #808080;
}

.btn {
border-radius: 28px;
padding: 16px 32px;
text-align: center;
font-weight: 700;
font-size: 16px;
line-height: 24px;
cursor: pointer;
border: none
}  
/* //////////// LIST  /////////////////  */
.custom-options-list {
display: none;
position: absolute;
z-index: 1;
}

.dropdown-content a:hover h4 {
    color: yellow;
}

.custom-options-list.active {
display: block;
}

/* //////// switch day-night //////////  */
.--switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 30px;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}

.--switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.--slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808080; /* Колір фону вимкненого стану */
    border: 2px solid gold;
    border-radius: 16px;
    transition: 0.4s;
    padding-top: 3px;
    cursor: pointer;  /*///////*/
}

.--slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 32px;
    left: 4px;   /* положення кнопки */
    bottom: 4px;
    background-color: gold; /* Колір кнопки */
    border: 2px solid gold;
    border-radius: 20px;
    transition: 0.4s;
}

input:checked + .--slider {
    background-color: #333333; /* Колір фону увімкненого стану */
    border: 2px solid gold;
}

input:checked + .--slider:before {
    transform: translateX(26px);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}        

.day-icon {
    left: 4px;    
}

.night-icon {
    right: 4px;
}

/*  //////////////////////////////////////  */
/*  /////////// нижній нввігатор /////////  */
.container-d {
align-items: center;
display: flex; /* Встановлення flex контейнера */
justify-content: space-between; /* Розташування блоків в ряду з рівномірним простором між ними */
background: #101010!important; 
color: #fff;
padding: 10px 0;
width: 100%;
}

.btn_center-d {
padding: 10px 20px; /* Налаштовуємо відступи */
/* border: none; Відміна границі кнопки */
border: 2px solid #555555;
border-radius: 20px;
width: 180px;
height: 40px;
}

.with-image {
background-image: url("/images/list.png"); /* Додає фотографію на кнопку */
background-size: cover;
background-position: center;  
}

.search-container {
position: relative;
display: inline-block; /* Дозволяє контейнерові займати тільки той простір, який він потребує */ 
/* align-items: center; */
}

.search-input {
border: 2px solid #555555;
border-radius: 20px;
width: 950px;
height: 35px;
background-color: #222222;
color: white;
padding-left: 30px;
}

.search-icon {
position: absolute;
top: 50%;
cursor: pointer; /*  іконка має бути натискаюча */
transform: translateY(-50%);
left: 10px;
}

.block-center-d {
position: relative;
}

.block-right-d {
display: flex;
justify-content: center;
align-items: center;
}
/*  ////////// Кн Каталог товарів ///////////  */
.list {
    display: none;
    position: fixed;
    
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    background-color: #111111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 85%;            
    color: #808080;
}


/*  /////////////  блок-slider  /////////////  */
.image-slider-container {
    width: 88%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ccc; /* Optional: Add a border for visualization */
}

.h-calc {
    height: calc(100vh); /* 50px is an example of the height */
}

.image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  /////////////  блок-stock (Акції) //////////////   */ 
.h-auto {
height: auto;
}

.h1-stock {
color:#808080;
}
.h1-white {
color:antiquewhite;
}

.txt-right {
text-align: right;
}

.txt-center {
text-align: center;   
}
.txt-left {
text-align: left;
}

.stock {
width: 100%; /* заповнити контейнер */
height: auto; 
}       

.stock-container {
display: flex; /* Use flexbox for horizontal layout */
justify-content: center; /* Center items horizontally */
align-items: center; /* Center items vertically */
}

.stock img {
width: 100%; /* Make images fill their container */
height: auto; /* Maintain aspect ratio */
} 

/*   /////////////// footer //////////////   */
.invisible-border {
border: 0; /* встановлення товщини бордера на 0 */
border-color: transparent; /* встановлення прозорого кольору бордера */
}

/*   /////////////  img rent /////////////  */
.image-slider-container-rent {
    width: 88%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ccc; /* Optional: Add a border for visualization */
}

.h-calc-rent {
    height: calc(100vh); /* 50px is an example of the height */
}

.image-slider-rent {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image-slider-rent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*   ////////////   sales page  ////////////   */
.main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .block {
    width: calc((100% - 40px) / 5); /* Враховуємо проміжок між блоками */
    background-color: #808080;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s; /* Анімація для плавного переходу кольору блоку */
  }

  .block:hover {
    background-color: #404040; /* Зміна кольору при наведенні миші */
  }

  .block a {
    text-decoration: none; /* Видалення підкреслення для посилань */
    color: inherit; /* Застосування колір тексту блока */
    transition: color 0.3s; /* Анімація для плавного переходу кольору тексту */
  }
  
  .block a:hover {
    color: yellow; /* Зміна кольору тексту при наведенні миші */
  }

  .block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

/*  ///////  stock3 stock4  ///////  */
.container-st3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.left-block {
    flex: 1;
}

.right-block {
    flex: 2;
    padding-left: 20px;
}

.img-st3 {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.oval-button {
    display: inline-block;
    background-color: yellow;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.bottom-block {
    width: 90%;
    margin-top: 20px;
    padding: 20px;
}

.text-align {
    text-align: center;
}

/*  /////  автентифікація / реєстрація  /////  */
.bgc-yellow {
    background-color: yellow;
}

.card {
    box-shadow: 0.0145rem 0.029rem 0.174rem rgba(255, 255, 255, 0.01698),
                0.0335rem 0.067rem 0.402rem rgba(255, 255, 255, 0.024),
                0.0625rem 0.125rem 0.75rem rgba(255, 255, 255, 0.03),
                0.1125rem 0.225rem 1.35rem rgba(255, 255, 255, 0.036),
                0.2085rem 0.417rem 2.502rem rgba(255, 255, 255, 0.04302),
                0.5rem 1rem 6rem rgba(255, 255, 255, 0.06),
                0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
    background: #303030;
    border-radius: 0.25rem;
    padding: 40px;
}

form {
    min-width: 100px;
    max-width: 200px;
}

.avatar {
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 50%;   
}

 .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 100px;
}

.inside {
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
}

.border-r {
    border: 2px solid #202020;
    border-radius: 20px;
}